body {
    font-family: 'Oswald', sans-serif;
}



#background {
    height: 100%;
    margin: 20%;
    background-image: url(Screenshot.png);
    height: 100%;
    width: outo;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.white-color {
    color: lavender;
}