body {
    font-family: 'Oswald', sans-serif;
    margin: 0;

}

footer {
    font-family: 'Abril Fatface', cursive;
}

.flexible-con {
    display: flex;
    width: 80%;
    margin-left: 8%;
    box-shadow: 10px 10px 30px whitesmoke;
}

#red-border {
    color: firebrick;
}

.border {
    width: 150px;
    padding: 10px;
    border: 5px solid firebrick
}

#background {

    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-image: url(Screenshot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}



.white-color {
    color: lavender;

}

.red-color {
    color: red;
}

.click-box {
    text-decoration: none;
    background-image: linear-gradient(red, maroon);
    font-weight: 600;
    padding: 10px 40px;
    color: wheat;
    border-radius: 15px;
}

.click-box-center {
    text-align: center;


}

.click-box-botom {
    position: relative;
    width 15%;
    margin: 5%;
    margin: 20%;

}

.half-width {
    width: 50%;
    font-size: large;
    padding: 5px;

}

.half-width img {
    width: 100%;
}


.img-adjust {
    width: 60%;
    padding: 5px;
    border: 5px 5px 5px skyblue;




}

#cup-small {
    width: 40%;
}

#rokto {
    background-color: cadetblue;
}

#kup {
    background-color: lightblue;
}

#tv {
    background-color: burlywood;
}

footer {
    background-color: black;
    text-align: center;
    font-weight: 500;
    color: azure;
}

.paragraph {
    font-size: small;
    line-height: 80%;
}

#line-height {
    line-height: 60%;
}

.rong {
    background-color: azure;
    color: aquamarine;
}

.orange {
    background-color: tomato;
}

.peket {
    border-radius: 105;
}