body {
    font-family: 'Oswald', sans-serif;
}



#background {
    height: 100%;
    margin: 20%;
    background-image: url(Screenshot.png);
    height: 100%;
    width: outo;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.white-color {
    color: lavender;

}

.click-box {
    text-decoration: none;
    background-image: linear-gradient(red, maroon);
    font-weight: 600;
    padding: 10px 40px;
    color: wheat;
    border-radius: 15px;
}

.click-box-center {
    text-align: center;

}